<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<AWS>
		<AccessKey>AKIASPWHXFFKJFBJSOHZ</AccessKey>
		<SecretKey>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</SecretKey>
		<Region>us-east-1</Region>
		<Qurl>https://sqs.us-east-1.amazonaws.com/171143801172/HacktonQueue</Qurl>
	</AWS>
	<MongoDB>
		<ConnectionString>your_connection_string</ConnectionString>
		<DatabaseName>your_database_name</DatabaseName>
	</MongoDB>
	<appSettings>
		<add key="AWSAccessKey" value="AKIASPWHXFFKJFBJSOHZ" />
		<add key="AWSSecretKey" value="0rq1o6sX1r8cOUO1gxirySaZVtPErejMtvN9WL9f" />
		<add key="AWSRegion" value="us-east-1" />
		<add key="AWSQurl" value="https://sqs.us-east-1.amazonaws.com/171143801172/HacktonQueue" />
		<add key="MongoConnectionString" value="" />
		<add key="MongoDatabaseName" value="" />
	</appSettings>
</configuration>